.container{
    min-height: 100vh;
    background-color: beige;
    display: flex;
    justify-content: center;
    align-items: center;

}
.todosCard{
    width: 850px;
    background-color: #ffff;
}
.inputSection{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: red;
    padding: 20px 35px;
}
.inpContainer{
    width: 100%;
}
.inputTag{
    width: 580px;
    padding: 5px;
    border: none;
    outline: none;

}
.inpContainer button{
    width: 180px;
    padding: 5px;
    border: none;
    outline: none;
    cursor: pointer;
 }
 .outputSection{
    padding: 15px;
 }
 .opcheckbox{
    outline: none;
    background-color: wheat;
 }
 .chkbox-container{
    padding: 15px 0;
 }

 .disOutput{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    margin: 5px 0 ;
    background-color: wheat;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
 }
 .checked-n-task{
    display: flex;
    background-color: red;
    align-items: center;
 }
 .checked-n-task p{
    padding: 0 15px;
 }
 .delButton{
    cursor: pointer;
    padding: 0 10px;
 }
